
{% extends "layout/main.twig" %}

{% block title %} main {% endblock %}

{% block main_content %}
    <div class="home">

        {% for content in homeContent %}
        {# <pre>{{ dump(content['settings']) }}</pre> #}
            {% if (('fixed_banner' == content['slug'] or 'wide_banner' == content['slug']) and content['settings']['image'] ) %}
                {% include 'custom/bold-banner.twig' with {'content': content} %}
            {% endif %}
            {% if ('youtube' == content['slug'] and content['settings']['youtube_url'] ) %}
                {% include 'custom/video.twig' with {'content': content} %}
            {% endif %}
             {% if ('customer_options' == content['slug']) %}
                {% include 'custom/customer-options.twig' with {'content': content} %}
            {% endif %}
             {% if ('store_features' == content['slug']) %}
                {% include 'custom/store-features.twig' with {'content': content} %}
            {% endif %}
             {% if ('brands' == content['slug']) %}
                {% include 'custom/brands.twig' with {'content': content} %}
            {% endif %}
            {% if ('list_of_items' == content['slug']) %}
                {% if ('slider' == content['settings']['type']) %}
                    {% include 'custom/list-of-items-slider.twig' with {'content': content} %}
                {% else %}
                    {% include 'custom/list-of-items.twig' with {'content': content} %}
                {% endif %}
            {% endif %}

             {% if ('fixed_products' == content['slug']) %}
                {% if ('chosen_products' == content['settings']['list_type'] and content['settings']['sku_text']) %}
                    {# <pre>{{ dump(content['settings']['products']) }}</pre> #}
                
                    <div class="load-products container mt-50" 
                    data-id="{{ content['block_id'] }}" 
                    data-title="{{ content['settings']['products_title'] }}" 
                    data-link="{{ content['settings']['link'] is not empty ? content['settings']['link'] : '/products' }}"
                    data-products="{{ content['settings']['products'] }}"
                    data-limit="{{ content['settings']['limit'] }}" 
                    data-ids="{{ content['settings']['ids'] }}" 
                    data-type="{{ content['settings']['type'] }}">
                    </div>

                {% elseif ('category' == content['settings']['list_type'] and content['settings']['category_id']) %}

                    <div class="load-products container mt-50" 
                    data-id="{{ content['block_id'] }}" 
                    data-title="{{ content['settings']['products_title'] }}" 
                    data-link="{{ content['settings']['link'] is not empty ? content['settings']['link'] : '' }}" 
                    data-products="{{ content['settings']['products'] }}" 
                    data-limit="{{ content['settings']['limit'] }}" 
                    data-ids="{{ content['settings']['ids'] }}" 
                    data-type="{{ content['settings']['type'] }}">
                    </div>
                    
                {% elseif ('featured_products' == content['settings']['list_type']) %}
                    <div class="load-products container mt-50" 
                    data-id="{{ content['block_id'] }}" 
                    data-title="{{ content['settings']['products_title'] }}" 
                    data-link="{{ content['settings']['link'] is not empty ? content['settings']['link'] : '/products' }}" 
                    data-products="{{ content['settings']['products'] }}" 
                    data-limit="{{ content['settings']['limit'] }}" 
                    data-ids="{{ content['settings']['ids'] }}" 
                    data-type="{{ content['settings']['type'] }}">
                    </div>
                    
                {% elseif ('discounted_products' == content['settings']['list_type']) %}
                    <div class="load-products container mt-50" 
                    data-id="{{ content['block_id'] }}" 
                    data-title="{{ content['settings']['products_title'] }}" 
                    data-link="{{ content['settings']['link'] is not empty ? content['settings']['link'] : '/products' }}" 
                    data-products="{{ content['settings']['products'] }}" 
                    data-limit="{{ content['settings']['limit'] }}" 
                    data-ids="{{ content['settings']['ids'] }}" 
                    data-type="{{ content['settings']['type'] }}">
                    </div>
                {% elseif ('most_sales' == content['settings']['list_type']) %}
                    <div class="load-products container mt-50" 
                    data-id="{{ content['block_id'] }}" 
                    data-title="{{ content['settings']['products_title'] }}" 
                    data-link="{{ content['settings']['link'] is not empty ? content['settings']['link'] : '/products' }}" 
                    data-products="{{ content['settings']['products'] }}" 
                    data-limit="{{ content['settings']['limit'] }}" 
                    data-ids="{{ content['settings']['ids'] }}" 
                    data-type="{{ content['settings']['type'] }}">
                    </div>
                    
                {% elseif ('latest_products' == content['settings']['list_type']) %}
                    <div class="load-products container mt-50" 
                    data-id="{{ content['block_id'] }}" 
                    data-title="{{ content['settings']['products_title'] }}" 
                    data-link="{{ content['settings']['link'] is not empty ? content['settings']['link'] : '/products' }}" 
                    data-products="{{ content['settings']['products'] }}" data-limit="{{ content['settings']['limit'] }}" 
                    data-ids="{{ content['settings']['ids'] }}" 
                    data-type="{{ content['settings']['type'] }}">
                    </div>
                    
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}


{% block footer_scripts %}
    {# <script>
        $( window ).resize(function() {
            $('.s-slider').slick('resize');
        });
    </script> #}
    <script>
        $('.owl-carousel').hide();
        $('.product-group').hide();
        $(document).ready(function(){
            $(".owl-carousel").owlCarousel({
                loop: false,
                autoplay: true,
                autoplayTimeout: 5000,
                autoWidth: true,
                rewind: true,
                margin: 15,
                nav: true,
                rtl: {{ lang ? 'true' : 'false' }},
            });
            setTimeout(() => {
                $('#block{{ content['block_id'] }} .product-group-arrow-prev').click(function() {
                    $('#block{{ content['block_id'] }} .owl-prev').click();
                })
    
                $('#block{{ content['block_id'] }} .product-group-arrow-next').click(function() {
                    $('#block{{ content['block_id'] }} .owl-next').click();
                })
            }, 1000);
            $('#block{{ content['block_id'] }} .product-group').slideDown();
        });
    </script>
    <script>
        $(document).ready(function() {
                var width = document.body.clientWidth;
    
                perView = 1;
    
                var swiper = new Swiper(".myListSwiper", {
                    slidesPerView: perView,
                    autoplay: {
                        delay: 1000,
                    },
                    navigation: {
                        nextEl: ".s-slider-next",
                        prevEl: ".s-slider-prev",
                    },
                });
            });
    </script>
    <script>
        $('.owl-carousel').hide();
        $('.product-group').hide();
        setTimeout(() => {
            $('.product-slider').owlCarousel({
                loop: false,
                autoplay: true,
                autoplayTimeout: 5000,
                autoWidth: true,
                rewind: true,
                margin: 15,
                nav: true,
                rtl: {{ lang ? 'true' : 'false' }},
            });

            setTimeout(() => {
                $('.product-group-arrow-prev').click(function() {
                    $('.owl-prev').click();
                })

                $('.product-group-arrow-next').click(function() {
                    $(' .owl-next').click();
                })
            }, 1000);

            $('.product-group').slideDown();
            $('.owl-carousel').fadeIn();
        }, 3000);
    </script>
    <script>
    $(document).ready(function () {

        const dummyProducts = [
            {
                id: 1,
                name: "configurable",
                url_key: "2g663yz",
                price: "367.35 SAR",
                image: "https://cdn.twsaa.com/product/643712/medium-f417538a-eb3a-4c94-a4a8-99e5a8dfcd0f.jpg"
            },
            {
                id: 2,
                name: "customizable",
                url_key: "customizable",
                price: "367.35 SAR",
                image: "https://cdn.twsaa.com/product/649687/medium-095dbde6-ce6d-49e0-a4d4-69bfb8563bfa.jpg"
            },
            {
                id: 3,
                name: "simple",
                url_key: "n2-4-5-3",
                price: "367.35 SAR",
                image: "https://cdn.twsaa.com/product/662322/medium-ecc7d0a5-8573-4180-ae16-15a4a05aa51d.jpg"
            },
            {
                id: 4,
                name: "downloadable",
                url_key: "ouu1ro7",
                price: "367.35 SAR",
                image: "https://cdn.twsaa.com/product/650782/medium-50f0297b-2a4e-4e09-9b95-092bd3671778.jpg"
            },
            {
                id: 5,
                name: "digital",
                url_key: "k6p8ato",
                price: "367.35 SAR",
                image: "https://cdn.twsaa.com/product/660156/medium-7cfe95a8-88d3-4013-9e53-735237692d23.jpg"
            },
            {
                id: 6,
                name: "customizable",
                url_key: "k6p8ato",
                price: "367.35 SAR",
                image: "https://cdn.twsaa.com/product/649687/medium-095dbde6-ce6d-49e0-a4d4-69bfb8563bfa.jpg"
            }
        ];

        $('.load-products').each(function () {

            let block = $(this);

            let id   = block.data('id');
            let type = block.data('type');

            // wrapper class based on type
            let wrapperClass =
                type == 'slider'
                ? 'home-grid owl-carousel owl-theme'
                : 'row home-grid';

            let html = `<div id="slider${id}" class="${wrapperClass}">`;

            dummyProducts.forEach(p => {

                html += `
                    <div class="${type == 'list' ? 'col-lg-3 col-md-4 col-6 mb-4' : 'product-box px-0'}">

                        <div class="product-box-inner">

                            <a href="/${p.url_key}" class="product-a">

                                <div class="product-image">
                                    <img src="${p.image}" class="img-fluid" />
                                </div>

                                <div class="product-information mt-2">
                                    <p>${p.name}</p>
                                </div>

                            </a>

                            <div class="product-bottom-row">
                                <span>${p.price}</span>
                            </div>

                        </div>

                    </div>
                `;
            });

            html += `</div>`;

            block.html(html);

            // ONLY INIT IF SLIDER
            if(type == 'slider') {

                let slider = $('#slider' + id);

                setTimeout(function () {

                    if ($.fn.owlCarousel) {

                        if (slider.hasClass('owl-loaded')) {
                            slider.trigger('destroy.owl.carousel');
                        }

                        slider.owlCarousel({
                            loop: false,
                            autoplay: true,
                            autoplayTimeout: 4000,
                            autoWidth: true,
                            margin: 15,
                            nav: false,
                            rtl: {{ getFunction('locale') == 'ar' ? 'true' : 'false' }},
                        });

                        slider.trigger('refresh.owl.carousel');

                    }

                }, 300);
            }

        });

    });
    </script>
{% endblock %}

    